/* 背景颜色定义 */
$back-lord = #222222
$back-sio = #333333

$back-whiteTranslucent = rgba(255, 255, 255, 0.5)
$back-white = rgba(255, 255, 255, 0.8)
$back-blockTranslucent = rgba(0, 0, 0, 0.3)
$back-highlight = #FFCD32


/* 字体颜色定义 */
$color-lord = #7b7b7b
$color-sio = #FFFFFF

$color-highlight = #FFCD32

$color-whiteTranslucent = rgba(255, 255, 255, 0.5)
$color-whiteTranslucent- = rgba(255, 255, 255, 0.3)
$color-white = rgb(255, 255, 255)

$color-favorite = #d93f30

/* 字体大小定义 */
$size-lord = 14px
$size-sio = 12px

$size-max = 18px

/* 字体类型定义 */
$font-family = PingFang SC, STHeitiSC-Light, Helvetica-Light, arial, sans-serif, Droid Sans Fallback

/* header 组件高度 */
$height-header = 44px

/* tab 组件高度 */
$height-tab = 44px
